/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 oct 2025, 9:27:58 p.m.
    Author     : !mX ***Made on Earth by Humans***
*/

/*body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f8f9fa;

}*/

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 210px;
    background-color: #212529;
    color: #fff;
    transition: all 0.3s ease;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar .logo {
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #343a40;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .logo {
    opacity: 0;
}

.sidebar .nav-link {
    margin-left: 15px;
    color: #adb5bd;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
    white-space: nowrap;
    overflow: hidden;
}



.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #343a40;
    color: #fff;
}

.sidebar .nav-link i {
    font-size: 1.3rem;
    flex-shrink: 0;
    text-align: center;
    width: 30px;
}

.sidebar span {
    transition: opacity 0.2s ease;
}

.sidebar.collapsed span {
    opacity: 0;
    width: 0;
}

/* Contenido principal */
.contenido {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.sidebar.collapsed ~ .contenido {
    margin-left: 70px;
}

/* Botón toggle */
.btn-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
}